ip nht resolve-via-default
router bgp {{ASN}}
    bgp router-id {{VTEP_LOCAL}}
{%- for i in NEIGHBORS%}
    neighbor {{i}} remote-as {{ASN}}
{%- endfor%}
!
address-family l2vpn evpn
{%- for i in NEIGHBORS%}
    neighbor {{i}} activate
{%- endfor%}    
    advertise-all-vni
    advertise-svi-ip
exit-address-family
exit